:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

.hero h1,
.hero h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.hero h1 {
  font-weight: bold;
  font-size: 86px;
}

.hero h2 {
  font-weight: normal;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  color: #272142;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.hero {
  font-family: "Times New Roman", Times, serif;
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero a {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.projects a {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero h1 {
    font-size: 56px;
  }
  .hero h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }
}
